.title {
    margin-bottom:5%;
    text-align: left;
    font-weight: bold;
}

.flex-container {
    /* 가로배치, 화면 꽉차게 */
    display: flex;
    flex-direction: row;
    margin: 0;
    /*border: 1px solid lightgray;*/
    border-radius: 10px;
    /*background-color: aliceblue;*/
    font-size: 24px;
}

.flex-container-inline {
    margin-top: 20px;
    /* 가로배치, 요소 비율 맞춰서 */
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
}

.full-container {
    /*세로배치*/
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*border: 1px solid lightgray;*/
    border-radius: 10px;
    /*background-color: aliceblue;*/
    font-size: 24px;
}

.box2 {
    /*에러명 작성칸 여백조절*/
    flex-shrink: 0;
    width: 150px;
    height: 60px;
    /*박스 내 글자 세로 가운데 정렬*/
    line-height: 60px;

    border: 1px solid gray;


}

.post_error_name {
    flex-grow: 1;
    border: 1px solid gray;
}

.submitBtn {
    width: 80px;
    height: 40px;
    background-color: darkred;
    color: white;
    border: gray;
    border-radius: 10px;
    margin: 80px 30px 50px 30px;
}