.container-full {
    /*세로배치*/
    margin: 10px;
    /*border: 1px solid lightgray;*/
    border-radius: 10px;
    /*background-color: aliceblue;*/
    font-size: 24px;
}
.container-full.input-info {
    width: 35%;
 }
.container-full.center {
    /* 가운데 정렬 */
    margin:0 auto;
}


.container-flex {
    /* 가로배치 */
    display: inline-flex;
    margin: 50px;
     /*border: 1px solid lightgray;*/
    border-radius: 10px;
     /*background-color: aliceblue;*/
    font-size: 24px;
}
.container-flex.button-pos{
    margin-left: 45%;
}
.container-flex.input-info {
    width: 30%;
}
.container-flex.center {
    align-content: center;
}

.title {
    font-weight: bold;
}

.input {
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.button-userinfo {
    width: 170px;
    height: 60px;
    background-color: rgb(56, 56, 56);
    color: white;
    border: gray;
    border-radius: 10px;
    margin: 80px 30px 50px 30px;
}

.initbox {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid black;
}


/*프로필 사진 업로드*/
.image_area {
    border: 3px solid #ebebeb;
    margin-bottom: 10px;
    width: 270px;
    height: 300px;
}

.profile_title {
    margin-right: 600px;
}

.profile label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: darkred;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: darkred;
    border-radius: .25em;
}
.profile input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
